{% extends 'index.html' %}

{% block content %}
<h1>Log into my Universal!</h1>
<form class="form_login" action="{{ url_for('login') }}" method="post">
    {{ form.csrf_token }}
    <div class="container">
        {% for field in form if field.name != 'csrf_token' %}
        <div class="form-input">
            {{ field.label() }}
            {{ field }}
        </div>
        {% if field.errors %}
        <ul class="alert alert-danger">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
        <button class="auth_button" type="submit" name="form_auth_submit">Push here!</button>
    </div>
</form>
{% endblock %}